extends ./layout


block contenido
    .contenido-principal

        h1 #{nombrePagina} 
        if errores 
            each error in errores   
                .alerta.error #{error.texto}
        pre #{vardump(tarea)}
                
        form.agregar-tarea(action=`/editar_tarea` method="POST")
            .campo
                label(for="tarea") Tarea:
                input( value = tarea.tarea type="text" name="tarea" placeholder="Nombre de la tarea")
            .campo    
                labe(for="descripcion") Descripción:
                input(value = tarea.descripcion type="text" name="descripcion" placeholder="Descripción de la tarea")
            .campo
                label(for="fechaInicio") Fecha de inicio:
                input(value = tarea.fechaInicio type="date", name="fechaInicio")
                label(for="fechaFinal") Fecha de finalización:
                input(value = tarea.fechaFinal type="date", name="fechaFinal")
            .campo-enviar
                input(type="submit" value = `${tarea.tarea, tarea.descripcion, tarea.fechaInicio, tarea,FechaFinal ? 'Guardar': 'Guardar'}` class="boton")
                    