extends layout

block contenido
    .contenido-principal

        h1 #{nombrePagina} 
        if errores 
            each error in errores   
                .alerta.error #{error.texto}
        re #{vardump(tarea)}
                
        form.agregar-tarea(action=`/editar_tarea` method="POST")
            .campo
                label(for="tareaEditar") Tarea:
                input(type="text" name="tarea" placeholder="Nombre de la tarea")
            .campo    
                labe(for="descripcionEditar") Descripción:
                input(type="text" name="descripcion" placeholder="Descripción de la tarea")
            .campo
                label(for="fechaInicioEditar") Fecha de inicio:
                input(type="date", name="fechaInicio")
                label(for="fechaFinalEditar") Fecha de finalización:
                input(type="date", name="fechaFinal")
            .campo-enviar
                input(type="submit" value="Guardar" class="boton")
                    