mixin editarTarea(tareas = {})
    pre #{vardum(tareas)}
    form.agregar-tarea(action=`/editar_tarea/${proyecto.url}` method="POST")
            .campo
                label(for="tarea") Tarea:
                input(type="text" name="tarea" placeholder="Nombre de la tarea")
            .campo    
                labe(for="descripcion") Descripción:
                input(type="text" name="descripcion" placeholder="Descripción de la tarea")
            .campo
                label(for="fechaInicio") Fecha de inicio:
                input(type="date", name="fechaInicio")
                label(for="fechaFinal") Fecha de finalización:
                input(type="date", name="fechaFinal")
            .campo-enviar
                input(type="submit" value="Guardar" class="boton")
    
